#QUESTION {

    height:430px;


    background-color:#f3f3f3;

    float:left;
    
    

    };

    .container{
        margin:50px auto;
        width:960px




    };

 .footer{
     padding:30px;
     text-align: center;
 };

.jumbotron{
    background-color: bisque;
 
};

.main{

color:beige;
};

.well{
    text-align: center;
};

.center{
    text-align: center;
};
